* {
  padding: 0%;
  margin: 0%;
  font-family: 'Grotesk', sans-serif;

}

.btss {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.btss button {

  color: rgb(255, 255, 255);
  background-color: transparent;




  border: 2px solid rgba(247, 78, 134, 0.459);
  border-radius: 60px;
  width: 122px;
  height: 40px;
}

.collapse ul li a {
  font-size: small;
  margin-right: 15px;
  color: white !important;

}

.header {
  background-color: black !important;
}

.header a {
  color: white !important;
}

.bg-body-tertiary {
  background-color: black !important;

}

.banner-1 {
  background-color: black;
  color: white;
}

.phone img {
  height: 40px;
}

.phone {
    display: flex;
    gap: 47px;
    border-right: 1px solid white;
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
}

.msg img {
  height: 40px;
}

.msg {
  display: flex;
  gap: 20px;
      margin-left: 14px;
}

.call {
  display: flex;
  justify-content: space-between;
}

.c-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.c-1 h1 {
      font-size: 46px;
}
.c-1 p{
  letter-spacing: 10px;
}

.c-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;
  height: 585px;

}
.c-pic{
  display: flex;
  flex-direction: column;
  justify-content: end;
 height: 583px;
}
.c-pic img{
    height: 428px;
    width: 120%;

}
.c-1 span {
  background: linear-gradient(
    90deg,
    rgba(255, 106, 60, 1) 0%,
    rgba(255, 0, 117, 1) 50%,
    rgba(143, 0, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.banner-1{
 background: linear-gradient(
    135deg,
    #101017 0%,
   #210917 45%,
    #f5e1ef 100%
  );
}

/* 
 background: linear-gradient(
  90deg,
  rgba(255, 106, 60, 1) 0%,
  rgba(255, 0, 117, 1) 50%,
  rgba(143, 0, 255, 1) 100%
); */