@media only screen and (min-width:200px) and (max-width: 575px) {

.c-pic img {
    height: 366px !important;
    width: 98% !important;
}
    .c-pic {
        display: block;
        flex-direction: column;
        justify-content: end;
        height: 365px !important;
    }
.c-5 img {
    height: 100%;
    width: 100%;
}
.r-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    border-bottom: 1px solid white;
    padding: 40px 10px 0px 10px;
}
.picOne-1 img {
    height: 443px;
    width: 100%;
}
.picTwo-2 img {
    height: 408px;
    width: 100%;
}
.pic-3 img {
    height: 443px;
    width: 100%;
}
.r-6 {
    display: block;

    padding: 50px;
}
.c-12 {
    background-color: #121219;
    max-width: fit-content;
    padding: 10px 150px 10px 40px;
    border-radius: 20px;
}
.f-1 {
    
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 0%;
}
.r-4 {
    display: block;
    padding: 50px 20px 20px 40px;
    border-radius: 20px 20px 20px 20px;
}
.inputss input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(124, 113, 113, 0.349);
    border-radius: 0px;
}
.inputss-2 input {
    background-color: #000000;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgba(180, 176, 176, 0.349);
    border-radius: 0px;
}
.c-9 p {
    font-size: 6px;
}
.c-7 {
    display: block;
    align-items: baseline;
    gap: 120px;
    width: 600px;
    text-transform: uppercase;
    font-size: 30px;
    text-align: start;
}
.c-4 {
    display: flex;
    position: relative;
    border-radius: 25px;
    flex-direction: column;
    justify-content: center;
    background-color: #101017;
    color: #ffffff;
    max-width: 100% ;
    padding: 33px 127px 33px 29px;
    border: 1px solid transparent;
    border-radius: 12px;
    background: linear-gradient(#101017, #101017) padding-box, linear-gradient(90deg, rgba(255, 106, 60, 1) 0%, rgba(255, 0, 117, 1) 20%, rgb(152, 18, 255) 100%) border-box;
}
.c-1 h1 {
    font-size: 34px;
}
.c-pic {
    display: block;
    flex-direction: column;
    justify-content: end;
    height: 585px;
}
.navbar button{
    background-color: white !important;
    color: #000000 !important;
}
.c-5-top {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
}

}